[ ca ]
default_ca = CA_default
[ CA_default ]
dir = /mnt/data/v046_work/tls/vmailgen
database = $dir/index.txt
new_certs_dir = $dir/newcerts
certificate = /mnt/data/v046_work/tls/eyetoy_chat_client_2004.pem
private_key = /mnt/data/v046_work/tls/eyetoy_chat_client_2004_private_key.pem
serial = $dir/serial
default_md = sha1
policy = policy_any
unique_subject = no
x509_extensions = v3_server
[ policy_any ]
countryName = supplied
organizationName = supplied
organizationalUnitName = supplied
commonName = supplied
stateOrProvinceName = optional
localityName = optional
emailAddress = optional
[ req ]
prompt = no
distinguished_name = dn
[ dn ]
C = UK
O = SCEE
OU = SCEE MIS
CN = vmail.online.scee.com
[ v3_server ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = DNS:vmail.online.scee.com
subjectKeyIdentifier = hash
